
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553177878221554785.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-553177878221554785.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-553177878221554785.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553177878221554785.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553177878221554785.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553177878221554785.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553177878221554785.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553177878221554785.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553177878221554785.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553177878221554785.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553177878221554785.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-553177878221554785.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553177878221554785.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-553177878221554785.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-553177878221554785.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-553177878221554785.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553177878221554785.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-553177878221554785.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-553177878221554785.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-553177878221554785.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553177878221554785.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553177878221554785.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553177878221554785.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553177878221554785.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553177878221554785.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-553177878221554785.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553177878221554785.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-553177878221554785.gps.gpsil [style*="--objp:"]{-o-object-position:var(--objp);object-position:var(--objp)}.gps-553177878221554785.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553177878221554785.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553177878221554785.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553177878221554785.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553177878221554785.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553177878221554785.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553177878221554785.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553177878221554785.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553177878221554785.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-553177878221554785.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-553177878221554785.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-553177878221554785.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-553177878221554785.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-553177878221554785.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-553177878221554785.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-553177878221554785.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-553177878221554785.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-553177878221554785.gps.gpsil [style*="--objp-tablet:"]{-o-object-position:var(--objp-tablet);object-position:var(--objp-tablet)}.gps-553177878221554785.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-553177878221554785.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-553177878221554785.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553177878221554785.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553177878221554785.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-553177878221554785.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-553177878221554785.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-553177878221554785.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-553177878221554785.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-553177878221554785.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-553177878221554785.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-553177878221554785.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-553177878221554785.gps.gpsil [style*="--objp-mobile:"]{-o-object-position:var(--objp-mobile);object-position:var(--objp-mobile)}.gps-553177878221554785.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-553177878221554785.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553177878221554785.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553177878221554785.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-553177878221554785.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-553177878221554785.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-553177878221554785 .gp-invisible{visibility:hidden}.gps-553177878221554785 .gp-absolute{position:absolute}.gps-553177878221554785 .gp-relative{position:relative}.gps-553177878221554785 .-gp-z-1{z-index:-1}.gps-553177878221554785 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553177878221554785 .gp-mb-0{margin-bottom:0}.gps-553177878221554785 .gp-flex{display:flex}.gps-553177878221554785 .gp-grid{display:grid}.gps-553177878221554785 .\!gp-hidden{display:none!important}.gps-553177878221554785 .gp-hidden{display:none}.gps-553177878221554785 .gp-h-full{height:100%}.gps-553177878221554785 .gp-w-full{width:100%}.gps-553177878221554785 .gp-max-w-full{max-width:100%}.gps-553177878221554785 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-553177878221554785 .gp-flex-col{flex-direction:column}.gps-553177878221554785 .\!gp-content-stretch{align-content:stretch!important}.gps-553177878221554785 .gp-items-center{align-items:center}.gps-553177878221554785 .gp-justify-center{justify-content:center}.gps-553177878221554785 .\!gp-self-center{align-self:center!important}.gps-553177878221554785 .gp-self-center{align-self:center}.gps-553177878221554785 .gp-overflow-hidden{overflow:hidden}.gps-553177878221554785 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553177878221554785 .gp-duration-200{transition-duration:.2s}.gps-553177878221554785 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-553177878221554785 .tablet\:\!gp-relative{position:relative!important}.gps-553177878221554785 .tablet\:\!gp-hidden{display:none!important}.gps-553177878221554785 .tablet\:gp-hidden{display:none}.gps-553177878221554785 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-553177878221554785 .tablet\:gp-justify-center{justify-content:center}.gps-553177878221554785 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-553177878221554785 .mobile\:\!gp-relative{position:relative!important}.gps-553177878221554785 .mobile\:\!gp-hidden{display:none!important}.gps-553177878221554785 .mobile\:gp-hidden{display:none}.gps-553177878221554785 .mobile\:\!gp-h-auto{height:auto!important}.gps-553177878221554785 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-553177878221554785 .mobile\:gp-justify-center{justify-content:center}.gps-553177878221554785 .mobile\:\!gp-self-center{align-self:center!important}}.gps-553177878221554785 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-553177878221554785 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-553177878221554785 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-553177878221554785 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSw4xPz0e6"}' data-id="gSw4xPz0e6" id="gSw4xPz0e6" data-same-height-subgrid-container class="gSw4xPz0e6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCE0nsKRe4 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="g41N2g2kpa"
        class="g41N2g2kpa gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:500px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":900,"src":"https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg","width":1920},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/7e49f09e7b1d49b1b237d17dfef9d380.mp4","videoType":"html5"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":900,"src":"https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg","width":1920},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/7e49f09e7b1d49b1b237d17dfef9d380.mp4","videoType":"html5"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":900,"src":"https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg","width":1920},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/7e49f09e7b1d49b1b237d17dfef9d380.mp4","videoType":"html5"}},"uid":"g41N2g2kpa","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"enableVideoShape":true,"height":"","shape":"original","shapeVideo":"16/9","width":"100%","widthHeightLinked":false},"tablet":{"enableVideoShape":true,"height":"","shape":"original","shapeVideo":"16/9","width":"100%","widthHeightLinked":false},"mobile":{"enableVideoShape":true,"height":"500px","shape":"custom","shapeVideo":"custom","width":"100%"}},"videoObjectFit":{"desktop":"cover","tablet":"cover","mobile":"cover"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:16/9;--aspect-tablet:16/9;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g41N2g2kpa" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/7e49f09e7b1d49b1b237d17dfef9d380.mp4" poster data-poster
      style="--aspect:16/9;--aspect-tablet:16/9;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--objp:top;--objp-tablet:top;--objp-mobile:top"
      class="gp-w-full gp-relative gp-h-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gmU1y6R6qp gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gvNK3gMduE ">
      
    <div
      
      style="--ta:left"
    >
      {% assign widget = 'embedded' %}
      {% case widget %}
        {% when "landing-page" %}
          {% if '' %}
            <iframe src="" width="100%" height="100%" style="position: absolute; border: medium none;" scrolling="no"></iframe>
          {% endif %}
        {% when "embedded" %}
          {% if '<div id="omnisend-embedded-v2-67914e524677e250387b0dd5"></div>' %}
            <div id="omnisend-embedded-v2-67914e524677e250387b0dd5"></div>
          {% endif %}
      {% endcase %}
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" srcset="https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" srcset="https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" data-src="https://ucarecdn.com/159f5369-05c4-4954-b379-3b3b8f1431f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-553177878221554785 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0dc7p1-tw/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=553177791298798399&sectionId=553177878221554785)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}